<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <servlet>
    <servlet-name>ROCServlet</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
      <param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.verizon.ssp.roctool.servlet</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ROCServlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DaemonServlet</servlet-name>
    <servlet-class>com.verizon.ssp.roctool.daemonservlet.DaemonServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DaemonServlet</servlet-name>
    <url-pattern>/DBLoaderDaemon</url-pattern>
  </servlet-mapping>
  
   <servlet>
      <servlet-name>FTPServlet</servlet-name>
      <servlet-class>com.verizon.ssp.roctool.servlet.FTPServlet</servlet-class>
      <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
      <servlet-name>FTPServlet</servlet-name>
      <url-pattern>/FTPTickets</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AssignmentServlet</servlet-name>
    <servlet-class>com.verizon.ssp.roctool.assignmentservlet.AssignmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignmentServlet</servlet-name>
    <url-pattern>/AssignmentServlet</url-pattern>
  </servlet-mapping>
</web-app>