* {
	padding: 0;
	/*margin: 0;*/
	font-family: arial;
}

#doneTickets {
	float: left;
}

#loadingdiv2 {
	margin-top: 10px;
}

#summary2 th, #summary1 th, 
#summary3 th {
	text-align: left;
	width: auto;
}

#summary2 td, #summary1 td, 
#summary3 td {
	text-align: left;
	padding: 4px;
	width: auto;
}

#ticket_status, #referred_to_sel, 
#referred_to {
	width: auto;
}

#summary2 tr:hover, #summary1 tr:hover, 
#summary3 tr:hover {
	background-color: grey;
	color: white;
}	

#tktId, #cat, #stat,
#pri, #refTo {
	padding-right: 14px;
}

#business {
	width: 60px;
}

#ticketSelect {
	text-align: center;
	padding: 4px;
	position: fixed;
	z-index: 9999;
	margin-bottom: 0px auto;
	bottom: 0;
	width: 100%;
	height: 55px;
	background-color: #222; 
	vertical-align: center;
	padding:10px;
}

#selectTickets {
	font: arial;
	font-size: 12px;
}

#selectBtnHead {
		background-color: white;
		border: 1px solid white;
}

#info {
	color: white;
	padding: 8px;
	width: auto;
}

p {
	padding: 10px;
} 	   

h1 {
	padding: 15px;
	background-color: #222;
	color: white;
	text-align: left;
	font-size: 14px;
	padding-left: 40px;
}

caption {
	caption-side: bottom;
	color:black;
}

body {
	padding: 0;
	margin: 0;
	overflow-y: scroll;
}

#label {
	color: white;
	text-align: right;
	padding-right: 4px;
	font-size: 13px;
}

#btn_search {
	height: 30px;
	font-family: arial;
	margin-bottom: 0px;
}

#vzSearch {
	background-color: #222;
	width: 100%;
}

#search {
	height: 30px;
	width: 60%;
	/*border: none;*/
	padding: 7px;
}

#vzSearch td {
	width: 100px;
}

#menu {
	margin-bottom: 3px;
	position: relative;
	left: 20;
	width: 100%;
	background-color: #CC0000;
	z-index: 10;
}

#navbar {
	margin: 0;
	padding: 0;
	background-color: #CC0000;
	/*background-color: #FFBF00;*/
	font-size: 15px;
}

#menubar {
	text-align: center;
}

/* for all ul in menubar */
#menubar,
#menubar ul {
	list-style: none;
	max-width: 800px;
	background-color: #CC0000;
	margin: 0px auto;
	/*background-color: #FFBF00;*/
}

#title {
	/*margin-left: 50%;	*/
	margin: 0px auto;
}

#logout {
	cursor: pointer;
}

/* float all <li> in menubar to left */
#menubar>li {
	display: inline-block;
	text-align: left;
}

/* for all <a> */
#menubar li a {
	display: inline-block;
	width: 150px;
	padding: 5px;
	text-decoration: none;
}

#btn_settings, #btn_logout {
	padding-left: 25px;
	padding-top: 5px;
	text-align: right;
}

/* for only those <a> that are in menubar */
#menubar>li>a {
	/*background-color: #FFBF00;*/
	background-color: #CC0000;
	color: white;
	font-size: 13px;
}

/* submenu - linklist 
to be displayed on top of all.
initially hidden
*/
#linklist {
	position: absolute;
	background-color: #F2F2F2;
	z-index: 9999;
	display: none;
	text-align: left;
}

/* only for those <a> that are in linklist */
#linklist>li>a {
	color: #222;
	width: 175px;
	font-size: 13px;
}

#linklist>li>a:hover {
	background-color: #B00000;
	color: white;
	width: 175px;
}

/* for all <a> */
#menubar li a:hover {
	/*background-color: #E9A300;*/
	background-color: #B00000;
	color: white;
	/*width: 150px;*/
}

/* for .submenu */
#menubar li:hover #linklist {
	display: block;
	background-color: #F2F2F2;
}